name = "cmuc-backend"
main = "worker.js"
compatibility_date = "2025-12-27"

# KV pour stocker users et access_codes
[[kv_namespaces]]
binding = "USERS"
id = "votre-kv-namespace-id"

[[kv_namespaces]]
binding = "ACCESS_CODES"
id = "votre-kv-namespace-id-2"

[[kv_namespaces]]
binding = "ROOMS"
id = "votre-kv-namespace-id-3"

[vars]
MQTT_BROKER = "mqtt://broker.hivemq.com:1883"

[env.production]
name = "cmuc-backend-prod"
route = "api.connectmeifucan.com/*"

[env.production.vars]
MQTT_BROKER = "mqtt://broker.hivemq.com:1883"
